<div *ngIf = "claimedQuestions.length > 0" class="course-section task-bar mb-5">
    <h1 class="mb-4">Selected questions</h1>
    
    <div *ngFor = "let q of claimedQuestions">
        <label class="checkbox-control" style = "margin-top: 3px;">
            <input type="checkbox" [checked] = "q.answeredStatus" [disabled]="true"/>
        </label>
        <a style = "margin-left: 5px;" routerLink = "../questions/{{ q.id }}">{{ q.content }}</a>
    </div>
</div>

<div class="course-section">
  <h1 class="mb-4">All question groups</h1>

  <p>Please select a set of questions you want to answer.</p>

  <button class = "button mb-2" (click) = "confirmSelection()">
     Confirm selection
  </button>

  <div class="cluster-wrapper">
    <div *ngFor="let cluster of clusters; let i=index" class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Group {{ cluster.id }}</h5>
      </div>
      <div class="card-body">
        <div *ngIf = "clusterContent[i].length == 0">
            <em>All questions for this group has been claimed.</em>
        </div>
        <div *ngIf = "clusterContent[i].length > 0">
            <div *ngFor = "let content of clusterContent[i]" style = "display: flex; align-items: start;">
                <label class="checkbox-control" style = "margin-top: 3px;">
                    <input type="checkbox" value = "{{ content.id }}" (change)="onChange(content.id)"/>
                </label>
                <a style = "margin-left: 5px;" routerLink = "../questions/{{ content.id }}">{{ content.content }}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="errorModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
  [ngStyle]="{ display: displayError }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Please select at least 1 question!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalError()">
            Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
  [ngStyle]="{ display: displayCF }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure with your questions selection?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
            Close
        </button>
        <button type="button" class="btn btn-danger" (click)="postSelection()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
