<div class="login-status">
    <div class = "container">
        <div class = "flexbox" *ngIf = "isAuthenticated">
            <p id="name">{{ message }}</p>
            <a routerLink="/" (click) = "logOut()">
            <img src="../../../assets/log-out.svg" class = "svg svg-filter-white"/>
            </a>
        </div>

        <div class = "flexbox" *ngIf = "!isAuthenticated">
            <p id="name">{{ message }}</p>
            <a routerLink="/log-in">
                <img src="../../../assets/log-in.svg" class = "svg svg-filter-white"/>
            </a>
        </div>
    </div>
</div>
