<div class="course-section">
  <h1 class="mb-3">Question</h1>
  <p style = "color: var(--light-purple)">{{ question.content }}</p>
  <em>By: {{ student.email }}</em>

  <h1 class="mt-4 mb-4">Answer</h1>
  <div [innerHTML]="renderedHtmlContent"></div>

  <form [formGroup]="ansForm" (ngSubmit)="onSubmit()">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        [placeholder]="'Type here...'"
        formControlName="editorContent"
      ></ngx-editor>
    </div>
    <button type="submit" class="fill-btn mt-3" [disabled]="ansForm.invalid">
      Submit
    </button>
  </form>

  <div class = "alert alert-success mt-1" *ngIf = "successfullySubmitted">Answer saved!</div>
  <div class = "alert alert-error mt-1" *ngIf = "failToSubmit">Error occured.</div>
</div>
