<div class="container">
    <div class="form-box signup">
      <h1>Reset password for {{ email }}</h1>
      <div class="input-container mt-5">
        <form
          id="login-form"
          [formGroup]="resetFormGroup"
          (ngSubmit)="onSubmit()"
        >
          <div class="input-field mt-4">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
          </div>
          <div
            *ngIf="password.invalid && (password.touched || password.dirty)"
            class="error-message"
          >
            <div *ngIf="password.errors?.['required']">
              <p>Please enter your password</p>
            </div>
            <div *ngIf="password.errors?.['checkWhitespace']">
              <p>Password must be at least 8 characters long</p>
            </div>
          </div>
          <div class="input-field mt-4">
              <label for="password_confirm">Enter your password again</label>
              <input type="password" id="password_confirm" formControlName="password_confirm" />
            </div>
            <div
              *ngIf="password_confirm.invalid && (password_confirm.touched || password_confirm.dirty)"
              class="error-message"
            >
              <div *ngIf="password_confirm.errors?.['required']">
                <p>Please enter your password again</p>
              </div>
              <div *ngIf="password_confirm.errors?.['checkMismatch']">
                <p>Password mismatch</p>
              </div>
            </div>
          <button
            type="submit"
            class="fill-btn mt-3"
            [disabled]="resetFormGroup.invalid"
          >
            Reset
          </button>
        </form>
        <div *ngIf = "cls" class = "alert alert-{{cls}}" role = "alert">{{msg}}</div>
      </div>
      <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
    </div>
  </div>
  