<div class = "menu-sidebar">
    <app-menu></app-menu>
</div>

<div class = "content-container">
    <!-- HEADER (DESKTOP) -->
    <header class = "header-desktop">
        <div class = "container-fluid">
            <div class = "search-bar">
                <app-search-bar></app-search-bar>
            </div>
            <div class = "notifications">
                <app-notification></app-notification>
            </div>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <router-outlet></router-outlet>
</div>
