/**************
Universal
**************/

:root {
    --purple: #312A32;
    --white: #FFFFFF;
    --light-purple: #8E55D7;
    --light-purple-inactive: rgba(142, 85, 215, .24);
    --light-gray: #F5F5F5;
    --dark-gray: #D9D9D9;
    --yellow: #f4d65e;
    --light-yellow: #FFEFD7;
    --green: #9FD5B7;
    --dark-green: #60ab81;
    --red: #8B0000;
    --border-radius: 15px;
    --button-border-radius: 10px;
    --input-height: 45px;
}

html {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x: hidden;
}

body {
    background-color: var(--purple);
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
}

h1, h2, h3, h4 {
    font-size: 24px;
    font-weight: 800;
}

h5, h6 {
    font-size: 18px;
    font-weight: 600;
}

p, a, button {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

button {
    background-color: var(--light-purple);
    transition: 1s ease;
    outline: none;
    border: none;
    border-radius: var(--button-border-radius);
    height: var(--input-height);
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

button.outline-btn {
    background-color: var(--white);
    border: 1px solid var(--dark-gray);
    color: var(--purple)
}

a {
    color: var(--purple);
    font-weight: 600;
}

a:hover, button:hover{
    cursor: pointer;
    transition: .5s ease;
}

button.fill-btn:hover {
    background-color: var(--green);
}

button.outline-btn:hover {
    border-color: var(--light-purple);
    background-color: var(--light-purple);
    color: var(--white);
}

button:disabled, button:disabled:hover {
    background-color: var(--dark-gray);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    outline: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--dark-green);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--bg-color);
}

input[type=text], input[type=email], input[type=password] {
    height:var(--input-height);
    background-color: transparent;
    outline:none;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--dark-gray);
    padding-left: 20px;
}

.p40 {
    padding-top: 40px;
}

.svg {
    width: 1rem;
}

.svg-filter-white {
    filter: invert(85%) sepia(100%) saturate(1%) hue-rotate(271deg) brightness(110%) contrast(97%);
}

.flexbox {
    display: flex;
    align-items: center;
}

/**************
Login 
**************/

.form-box {
    width: 400px;
    background-color: var(--white);
    margin: auto;
    border-radius: var(--border-radius);
    padding: 40px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-box.login {
    height: 500px;
    margin-top: 10%;
}

.form-box.signup {
    height: 600px;
    margin-top: 8%;
}

.form-box button {
    width: 100%
}

.form-box .input-field {
    width: 100%;
    position: relative;
}

.form-box .input-field input {
    width:100%;
}

.form-box .input-field label {
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: var(--white);
    padding: 0 5px;
    font-size: 14px;
    color: var(--dark-gray)
}

.form-box .form-divider {
    display: flex;
    align-items: center;
}

.form-box .line {
    width: calc(100% - 100px);
    display: block;
    height: 1px;
    background-color: var(--dark-gray);
}

.form-box p.decorative {
    color: var(--dark-gray);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    margin: 0 15px;
}

.error-message {
    margin-top: 3px;
    text-align: left!important;
}

.error-message p {
    font-size: 13px;
    color: var(--red);
    margin-bottom: 0;
}

/**************
Dashboard
**************/

.content-wrapper {
    background-color: var(--white);
    min-height: 100vh;
    border-top-left-radius: var(--border-radius);
}

aside.menu-sidebar {
    position: relative;
}

.header-desktop {
    height: 60px;
}

.header-desktop .container {
    position: relative;
}

.header-desktop .container .flexbox {
    position: absolute;
    right: 0;
}

.header-desktop .search-bar {
    margin-right: 1.5rem;
}

.header-desktop .search-bar .search-input {
    margin-right: 10px;
}

.header-desktop .search-bar button.search-button {
    width: 60px;
}

.header-desktop .notifications .noti-wrapper {
    position: relative;
}

.header-desktop .notifications .noti-wrapper span {
    position: absolute;
    border-radius: 8px;
    font-size: 10px;
    width: 16px;
    height: 16px;
    background-color: var(--light-purple);
    top: -5px;
    right: 0px;
    text-align: center;
    color: var(--white);
    font-weight: 600;
}

/*** Course section ***/

.course-section .course {
    border-radius: var(--border-radius);
    height: 150px;
    padding: 15px;
    margin-right: 15px;
}

.course-section .course.crs-instructor{
    background-color: var(--light-yellow);
}

.course-section .course.crs-student{
    background-color: var(--green);
}

.course-section .course .course-text span {
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 400;
}

.course-section .course.crs-instructor span {
    background-color: var(--yellow);
}

.course-section .course.crs-student span {
    background-color: var(--dark-green);
}

/**************
Menu
**************/

aside.menu-sidebar * {
    color: var(--white);
}

aside.menu-sidebar .flexbox img {
    margin-right: 15px;
}

ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu-list li {
    border-radius: var(--button-border-radius);
    padding:15px 10px;
    margin-bottom: 5px;
}

ul.menu-list li a {
    display:flex;
    align-items: center;
}

ul.menu-list li.active {
    background-color: var(--light-purple-inactive);
}

ul.menu-list li a img {
    margin-right: 15px;
}

.login-status {
    padding:15px 10px;
    background-color: var(--light-purple);
    position: absolute;
    bottom: 0;
    width: calc(100% - 0.75rem);
}

.login-status .flexbox {
    justify-content: space-between;
}

.login-status p {
    margin-bottom: 0;
}

/**************
Course detail
**************/

.task-bar {
    background-color: var(--light-yellow);
    padding: 15px;
    border-radius: var(--border-radius)
}

.task-item {
    display: flex;
}

.task-item span {
    width: 15px;
    height: 15px;
    align-items:baseline;
    background-color: var(--yellow);
    border-radius: 5px;
    margin-right: 10px;
}

.task-item p {
    margin-bottom: 0;
}

/*Source: https://moderncss.dev/pure-css-custom-checkbox-style/*/

.checkbox-control input[type=checkbox]{
    /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--light-purple-inactive);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: calc(1.15em / 2);
 

  display: grid;
  place-content: center;
}

.checkbox-control input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--light-purple);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
.checkbox-control input[type="checkbox"]:checked::before {
    transform: scale(1);
}


