<div class="container">
    <div class="form-box login">
      <h1>Reset your password</h1>
      <div class="input-container mt-5">
        <form
          id="login-form"
          [formGroup]="forgotFormGroup"
          (ngSubmit)="onSubmit()"
        >
          <div class="input-field">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
          </div>
          <div
            *ngIf="email.invalid && (email.touched || email.dirty)"
            class="error-message"
          >
            <div *ngIf="email.errors?.['required']">
              <p>Please enter your email</p>
            </div>
            <div
              *ngIf="email.errors?.['pattern']"
            >
              <p>Invalid email</p>
            </div>
          </div>
          <button type="submit" class="fill-btn mt-3" [disabled] = "forgotFormGroup.invalid">Continue</button>
        </form>
        <div *ngIf = "cls" class = "alert alert-{{cls}}" role = "alert">{{msg}}</div>
      </div>
      <p class = "mt-4">Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
    </div>
  </div>
  
