<div class="content-container row">
    <aside class="menu-sidebar col-lg-3">
      <div class="container">
        <div class="container p40">
            <div class = "mb-4">
                <a routerLink = "/courses/{{ assignment.courseId }}" class = "flexbox">
                    <img src = "../../../assets/arrow-left.svg" class = "svg svg-filter-white" />
                    Back to course
                </a>
            </div>
            <h1>{{ assignment.name }}</h1>
          <ul class="menu-list mt-4" (click) = "renderMenu($event)">
            <li class="active">
              <a routerLink=".">
                <img
                  src="../../../assets/list.svg"
                  class="svg svg-filter-white"
                />
                Submissions
              </a>
            </li>
            <li>
              <a routerLink="grading-assignments">
                <img
                  src="../../../assets/book.svg"
                  class="svg svg-filter-white"
                />
                Grading Assignments
              </a>
            </li>
          </ul>
        </div>
      </div>
      <app-login-status></app-login-status>
    </aside>
    <div class="content-wrapper col-lg-9">
      <div class="container p40">
        <!-- MAIN CONTENT -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>  

